:root {
    --primary-color: #B0E0E6;
    --secondary-color: #3a617a;
    --text-color: #fff;
    --background-color: #f8f9fa;
    --border-color: #ccc;
    --button-color: #4c6baf;
}

/* Styles de base */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: var(--primary-color);
    text-align: center;
    position: relative; /* Add this property to the body */
}

/* Navbar */
.header {
    display: grid;
    grid-template-columns: auto 1fr;
    background-color: var(--primary-color);
    padding: 10px 20px;
    align-items: center;
    position: absolute; /* Add this property to the header */
    top: 0; /* Move the header to the top of the page */
    width: 100%; /* Make the header 100% wide */
}

.logo {
    margin: 0;
    color: var(--text-color);
    padding-left: 20px; /* Add some left padding to the logo */
    font-size: 50px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center; /* Center the navigation links horizontally */
}

nav ul li {
    margin-right: 20px;
    padding-right: 20px;
    transition: color 0.3s ease;
}

nav ul li a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 20px;
}

nav ul li a:hover {
    color: var(--secondary-color);
}

.home-section {
    padding: 100px;
    background-color: var(--primary-color);
}

.home-section h2 {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: bold;
    text-transform: uppercase;
}

@media (max-width: 600px) {
.header {
        display: block;
    }

    nav ul {
        display: flex;
        flex-direction: column;
    }

    nav ul li {
        margin-right: 0;
    }

    nav ul li a {
        padding: 10px 0;
    }
}
/* Add this to your styles.css file */

.login-section {
    padding: 100px;
    background-color: var(--background-color);
    text-align: center;
}

.login-section h2 {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.login-section form {
    margin: 50px 0;
}

.login-section form input[type="text"],
.login-section form input[type="password"] {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}

.login-section form button[type="submit"] {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-section form button[type="submit"]:hover {
    background-color: var(--secondary-color);
}

/* Add this to your styles.css file */

.create-account-section {
    padding: 100px;
    background-color: var(--background-color);
    text-align: center;
}

.create-account-section h2 {
    font-size: 3rem;
    color: var(--primary-color);
    font-weight: bold;
    text-transform: uppercase;
}

.create-account-section form {
    margin: 50px 0;
}

.create-account-section form input[type="text"],
.create-account-section form input[type="email"],
.create-account-section form input[type="password"] {
    border: 1px solid var(--border-color);
    border-radius: 5px;
    display: block;
    margin: 10px auto;
    padding: 10px;
    width: 300px;
}

.create-account-section form button[type="submit"] {
    background-color: var(--primary-color);
    border: none;
    color: var(--text-color);
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.create-account-section form button[type="submit"]:hover {
    background-color: var(--secondary-color);
}

.create-account-section form p {
    margin: 20px 0;
    font-size: 1.5rem;
    color: var(--primary-color);
}

.create-account-section form p a {
    color: var(--secondary-color);
    text-decoration: none;
    transition: color 0.3s ease;
}

.create-account-section form p a:hover {
    color: var(--primary-color);
}

.quote-container {
    background-color: var(--primary-color);
    padding: 50px;
    font-family: 'Apple Chancery', cursive; /* Add this property to the quote-container */
}

.quote-container h2 {
    font-size: 2rem;
    color: var(--text-color);
    text-align: center;
}

footer {
    background-color: var(--primary-color);
    padding: 50px;
    margin-top: 50px;
    background: linear-gradient(to bottom, var(--primary-color) 0%, rgba(255, 255, 255, 100%) 100%);
}

nav[data-is-logged-in='false'].logged-in-only,
nav[data-is-logged-in='true'].logged-out-only {
    display: none;
}
/* Styles généraux */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

.page-content {
    padding: 2rem;
}

.page-title {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

/* Styles spécifiques aux pages */
.favorites-section {
    display: flex;
    flex-wrap: wrap;
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 4px;
}

.favorite-item {
    box-sizing: border-box; /* Inclure le padding et la bordure dans la largeur et la hauteur */
    width: 31%; /* 31% pour permettre un espacement entre les éléments */
    margin: 1%;
    padding: 1rem;
    background-color: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9rem;
}

.favorite-title {
    margin: 0 0 0.5rem 0;
}

.user-info-box {
    background-color: #f5f5f5;
    padding: 1rem;
    border-radius: 4px;
}

.user-info-box h3 {
    margin: 0 0 1rem 0;
}